<div class="row center-xs">
  <table
    <thead>
      <th>Titulo</th>
      <th>Descripción</th>
      <th>Visitas</th>
    </thead>
  <%@articles.each do |article|%>
    <tr>
      <td><%=article.title%></td>
      <td><%=article.description%></td>
      <td><%=article.visits_counter%></td>
      <td><%=link_to "Eliminar", article, method: :delete%></td>
    </tr>
  <%end%>
  </table>
</div>
